
<h1>User Info</h1>

<%= form_with model: @User, url:'/books' do |f| %>

<h4>name</h4>
<%= f.text_field : %>
  
<h4>introduction</h4>
<%= f.text_area :%>




<h4>profile_image</h4>
<%= f.file_field :image, accept: "image/*" %>
  
<%= f.submit 'update' %>