<!--ユーザー一覧ページ(Users)-->


  <div class="row">
    <div class="col-md-4" style="height:400px;" >
      <h1>User info</h1>
      <!--ユーザー表示-->
      <%= render 'users/userlist', user: @user %>
      <!--新規投稿フォーム-->
      <%= render 'books/booklist', book: @booknew %>
       <!--ここから-->
    </div>
    <div class="col-md-8" style="height:400px;">
      <h1>Users</h1>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">image</th>
              <th scope="col">name</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
            <% @users.each do |user| %>
          <tbody>
            <tr>
              <th scope="row"><%= image_tag user.get_profile_image(50,50) %></th>
              <td><%= link_to user.name, user_path(user.id) %></td>
              <td><%= link_to 'Show', user_path(user.id) %></td>
            </tr>
            <% end %>
            </tr>
          </tbody>
        </table>
    </div>
  </div>

<!--ここまで-->
