<!--ユーザー詳細ページ(Home Books)-->

<div class="container-fluid mt-2">
  <div class="row">
    <div class="col-md-4" >
      <h1 "text-center">User info</h1>
      <!--ユーザー詳細表示-->
      <%= render 'users/userlist', user: @user %>
      <!--新規投稿フォーム-->
      <%= render 'books/booklist', book: @booknew %>
       <!--ここから-->
    </div>
    <div class="col-md-8">
      <h1>books</h1>
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">title</th>
              <th scope="col">opinion</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <% @books.each do |book| %>
          <tbody>
            <tr>
              <th scope="row"><%= image_tag @user.get_profile_image(50,50) %></th>
              <td><%= link_to book.title, book_path(book.id) %></td>
              <td><%= book.body %></td>
            </tr>
            <% end %>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
<!--ここまで-->
