<!--バリデーション-->
<% if @book.errors.any? %>
  <%= @book.errors.count %>errors
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<!--edit-->
<div class="class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto"">
  <div class="form">
    <h1>Editing Book</h1>
  
    <%= form_with model: @book, url: update_book_path(@book.id), method: :patch do |f| %>
    <div class="form-group">
      <h4>Title</h4>
      <%= f.text_field :title %>
    </div>  
    <div class="form-group">
      <h4>Opinion</h4>
      <%= f.text_area :body %>
    </div>  
      
      <p><%= f.submit 'Update Book' %></p>
      
    <% end %>
    <!--show back-->
    <p><%= link_to "Show", book_path(@book.id) %> | <%= link_to "Back", books_path %></p>
  </div>
</div>
