<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <script src="https://kit.fontawesome.com/e35a94ee4b.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<!--ここから-->
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" style="color:white;" href="/">Bookers</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to user_path(current_user.id), class: 'nav-link text-white ' do%>
                <p><i class="fas fa-home fa-fw"></i>Home</p>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to users_path, class: 'nav-link text-white ' do%>
                <i class="fas fa-users fa-fw"></i>Users</p>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to books_path, class: 'nav-link text-white ' do%>
                <p><i class="fas fa-book-open"></i>Books</p>
                <% end %>
              </li>
              <li class="nav-item">
                  <%= link_to destroy_user_session_path, method: :delete,class: 'nav-link text-white ' do%>
                  <p><i class="fas fa-sign-out-alt fa-fw"></i>Log out</p>
                  <% end %>
              </li>
                  <% else %>
              <li class="nav-item">
                <%= link_to root_path, class: 'nav-link text-white ' do%>
                <p><i class="fas fa-home fa-fw"></i>Home</p>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to about_path, class: 'nav-link text-white ' do%>
                <p><i class="fas fa-link fa-fw"></i>About</p>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_registration_path, class: 'nav-link text-white ' do%>
                <p><i class="fas fa-user-plus"></i>Sign up</p>
                <% end %>
              </li>
        <li class="nav-item">
          <%= link_to new_user_session_path, class: 'nav-link text-white ' do%>
          <p><i class="fas fa-sign-in-alt"></i>Log in</p>
          <% end %>
        </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <!--検索フォーム-->
  <% if user_signed_in? %>
    <%= render 'layouts/search' %>
  <% end %>
</header>
<!--アラート-->
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <main>
      <p id="notice"></p>
      <div class="container px-5 px-sm-0">
        <div class="row">
          <%= yield %>
        </div>
      </div>
    </main>
    <!--フッター-->
    <footer>
      <div class="container mt-5 ">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
